.menu-container {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    /* -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); */
}

.menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: #868685;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #ffc800;
    text-decoration: none;
}

.hide {
    visibility: hidden;
}

.menu__social-icons {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.menu__social-icons>li {
    display: inline;
    margin-left: 12px;
    color: white;
}

.menu__social-icons li:first-child {
    margin-left: 0;
}

.menu__social-icons i {
    font-size: 32px;
}

.contacts {
    margin: 25px 0 0 0;
}

.navigation {
    list-style-type: none;

    text-transform: uppercase;
    line-height: 1.8;
    font-weight: 500;
}

.close-icon {
    font-size: 24px;
    margin-top: 45px;
    cursor: pointer;
}

.close-icon:hover {
    color: #ffc800;
}